{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">UPT Section Golf</h1>
        <p class="lead">La section golf de l'Université Pour Tous (UPT)</p>
    </div>
    </div>
{% endblock %}
